<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="jfoobars"
		label="COM_JFOOBARS"
		description="COM_JFOOBARS_CONFIG_JFOOBAR_SETTINGS_DESC">

		<field
			name="jfoobar_layout" type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			description="JGLOBAL_FIELD_LAYOUT_DESC"
			menuitems="true"
			extension="com_jfoobars"
			view="jfoobar"
		/>
		 
	</fieldset>

	<fieldset
		name="filters"
		addfieldpath="/administrator/components/com_jfoobars/models/fields"
		label="COM_JFOOBARS_CONFIG_TEXT_FILTERS_LABEL"
		description="COM_JFOOBARS_CONFIG_TEXT_FILTERS_DESC"
		>

		<field
			name="filters"
			type="filters"
			label="COM_JFOOBARS_CONFIG_TEXT_FILTERS_LABEL"
			class="inputbox"
			filter="" />
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_jfoobars"
			section="component" />
	</fieldset>
</config>
